/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-text-light-mode: #49515a;
  --color-bg-light-mode: white;
  --color-bg-shade0-light-mode: #fbfbff;
  --color-bg-shade1-light-mode: #e9e9f9;

}

/* semantic color variables for this project */
:root {
  --color-text: var(--color-text-light-mode);
  --color-bg-shade1: var(--color-bg-shade1-light-mode);

  /* --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px; */
}

/* semantic size variable for this project */
:root {
  --moderate-vertical-margin: 2vh;
  --max-vertical-margin: 5vh;

  --moderate-horizontal-margin: 2vw;
  --max-horizontal-margin: 5vw;
}

/* This "prefers-color-scheme: dark" will override if user selected dark mode in their OS */
@media (prefers-color-scheme: dark) {
  :root {
    /* --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1); */
  }
}



body {
  /* min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
